@import url('../css/header.css');
@import url('../css/footer.css');
@import url('../css/layout.css');

.content_about {
    padding-left: calc(50% - 820px / 2);
    padding-right: calc(50% - 820px / 2);
    padding-bottom: 253.67px;
}

.subtitle_about {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-top: 33px;
    padding-bottom: 25px;
}

.text_about {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 15px;
}

.video {
    width: 822px;
    height: 650px;
    background-color: #000000;
    border: 2px solid #CF5510;
}

.video_iframe {
    width: 820px;
    height: 549px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0px;
}

@media screen and (max-width: 1024px) {
    /* Cтили для планшета */
    .content_about {
        padding-left: 64px;
        padding-right: 32px;
    }

    .video {
        max-width: 100%;
        max-height: 600px;
        background-color: #000000;
    }

    .video_iframe {
        max-width: 100%;
        max-height: 549px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    /* Cтили для мобильного телефона */
    .content_about {
        padding-left: 16px;
        padding-right: 16px;
    }

    .video {
        max-width: 100%;
        max-height: 233px;
        background-color: #000000;
    }

    .video_iframe {
        max-width: 100%;
        max-height: 193px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}