.header {
    background: #213B7E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
    position: relative;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: 54px;
}

.menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 18px;
    display: block;
}

.menu_link_active {
    background-color: #fff;
    color: #213B7E;
    text-decoration: none;
}

.menu_link:hover {
    background-color: #fff;
    color: #213B7E;
    text-decoration: none;
}

.button {
    width: 153px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background-color: #fff;
    color: #EA5D21;
    text-decoration: none;
}

.popup_container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup_container_opened {
    display: flex;
}

.popup {
    box-sizing: border-box;
    width: 500px;
    height: 418px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    margin: auto;
    margin-top: 250px;
}

.popup_close {
    position: absolute;
    top: -40px;
    right: -40px;
}

.login_subtitle {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin-top: 36px;
}

.login_input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    box-sizing: border-box;
    width: 444px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #808080;
    margin-left: 28px;
    padding-left: 14px;
    padding-top: 17px;
    padding-bottom: 10px;
}

.login_input_username {
    margin-top: 36px;
}

.login_input_password {
    margin-top: 56px;
}

.button_login {
    width: 153px;
    height: 50px;
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: #EA5D21;
    margin-top: 56px;
    margin-left: 174px;
    border: 0px;
}

@media screen and (max-width: 1024px) {
    /* Cтили для планшета */
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .menu {
        margin-left: 0;
    }

    .menu_link {
        font-size: 18px;
        padding: 20px 14px;
    }   
}

@media screen and (max-width: 767px) {
    /* Cтили для мобильного телефона */
    .header {
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 16px;
    }
    
    .menu {
        flex-direction: column;
    }

    .logo {
        display: none;
    }

    .popup {
        width: 300px;
        height: 300px;
    }

    .login_input {
        width: 245px;
        height: 45px;
        margin-left: 28px;
    }
    
    .login_input_username {
        margin-top: 26px;
    }
    
    .login_input_password {
        margin-top: 26px;
    }

    .button_login {
        margin-top: 20px;
        margin-left: 75px;
    }

    .popup_close {
        position: absolute;
        top: -40px;
        right: -10px;
    }

    .login_input {
        font-size: 18px;
    }
}